<?php

/**
 * Custom Post Type Sample
 * 
 * https://developer.wordpress.org/reference/functions/register_post_type/
 * https://generatewp.com/post-type/
 * 
 */

if ( ! function_exists('brk_cpt_sample') ) {

    function brk_cpt_sample() {

        $slug = 'cpt-sample';
                  
        $args = array(

            // --- Labels ---

            'label'         => __('CPT Sample', 'codeweber'),
            'description'   => __('CPT Sample', 'codeweber'),
            'labels'        => array(
                'name'                  => _x('CPT Samples', 'Post Type General Name', 'codeweber'),
                'singular_name'         => _x('CPT Sample', 'Post Type Singular Name', 'codeweber'),
                // 'menu_name'             => __('Post Types', 'codeweber'),
                // 'name_admin_bar'        => __('Post Type', 'codeweber'),
                // 'archives'              => __('Item Archives', 'codeweber'),
                // 'attributes'            => __('Item Attributes', 'codeweber'),
                // 'parent_item_colon'     => __('Parent Item:', 'codeweber'),
                // 'all_items'             => __('All Items', 'codeweber'),
                // 'add_new_item'          => __('Add New Item', 'codeweber'),
                // 'add_new'               => __('Add New', 'codeweber'),
                // 'new_item'              => __('New Item', 'codeweber'),
                // 'edit_item'             => __('Edit Item', 'codeweber'),
                // 'update_item'           => __('Update Item', 'codeweber'),
                // 'view_item'             => __('View Item', 'codeweber'),
                // 'view_items'            => __('View Items', 'codeweber'),
                // 'search_items'          => __('Search Item', 'codeweber'),
                // 'not_found'             => __('Not found', 'codeweber'),
                // 'not_found_in_trash'    => __('Not found in Trash', 'codeweber'),
                // 'featured_image'        => __('Featured Image', 'codeweber'),
                // 'set_featured_image'    => __('Set featured image', 'codeweber'),
                // 'remove_featured_image' => __('Remove featured image', 'codeweber'),
                // 'use_featured_image'    => __('Use as featured image', 'codeweber'),
                // 'insert_into_item'      => __('Insert into item', 'codeweber'),
                // 'uploaded_to_this_item' => __('Uploaded to this item', 'codeweber'),
                // 'items_list'            => __('Items list', 'codeweber'),
                // 'items_list_navigation' => __('Items list navigation', 'codeweber'),
                // 'filter_items_list'     => __('Filter items list', 'codeweber'),
            ),
            
            // --- Options ---

            'public'                => true,
            'publicly_queryable'    => true,
            'exclude_from_search'   => false,
            'hierarchical'          => false,
            'can_export'            => true,
            'has_archive'           => true,
            'rewrite'               => array(
                'slug'          => $slug,
                // 'with_front'    => true,
                // 'feeds'         => true,
                // 'pages'         => true,
            ),

            // --- Supports ---

            'supports'      => array(
                'title',
                'editor',
                'thumbnail',
                // 'excerpt',
                // 'author',
                // 'page-attributes',
                // 'revisions',
                // 'custom-fields',
                // 'comments',
                // 'trackbacks',
                // 'post-formats',
            ),

            // --- Taxonomies ---

            'taxonomies'    => array(
                // 'category',
                // 'post_tag',
            ),

            // --- Admin UI ---

            'show_ui'               => true,
            'show_in_menu'          => true,
            'menu_position'         => 20,
            'menu_icon'             => 'dashicons-pressthis',
            'show_in_admin_bar'     => true,
            'show_in_nav_menus'     => true,

            // --- Capabilities ---

            'capability_type'   => 'post',
            // 'capabilities'      => array(
            //     'edit_post'             => 'edit_post',
            //     'read_post'             => 'read_post',
            //     'delete_post'           => 'delete_post',
            //     'edit_posts'            => 'edit_posts',
            //     'edit_others_posts'     => 'edit_others_posts',
            //     'publish_posts'         => 'publish_posts',
            //     'read_private_posts'    => 'read_private_posts',
            // ),
            
            // --- REST API ---

            'show_in_rest'          => true,
            // 'rest_base'             => $slug,
            // 'rest_controller_class' => 'WP_REST_Posts_Controller',

        );
    
        register_post_type($slug, $args);

    }

    add_action('init', 'brk_cpt_sample');

}