// Use this to write your custom SCSS

// Features

/*Features 101*/

.block-features .row {
   z-index: 11;
}

.border-hover-primary:hover {
   border-color: #3f78e0 !important;
}

.btn {
   text-transform: uppercase;
}

.swiper-slide.bg-overlay-400::before {
  background: rgba(30, 34, 40, 0.74);
}

// header.wrapper.bg-dark, .navbar.classic.navbar-dark.fixed.navbar-stick {
//   border-bottom: 1px solid #9c886f !important;
// }

.fixed.navbar-stick {
background-color: #292728;
}



header, .navbar-stick {
  position: relative;
  padding-bottom: 5px;
  border-bottom: 1px solid transparent;
}

header::after, .navbar-stick::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, rgba(156, 136, 111, 0), #9c886f, #292728, rgba(41, 39, 40, 0));
  background-size: 200% 100%;
  animation: running-border 16s linear infinite;
}

@keyframes running-border {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.z-index10 {
  z-index: 10!important;
}

.z-index20 {
  z-index: 20!important;
}

.z-index30 {
  z-index: 30!important;
}

.z-index40 {
  z-index: 40!important;
}

.z-index50 {
  z-index: 50!important;
}
body {
  background: #292728;
}

.form-control {
  border: 1px solid #9c886f9c;
}

.form-control:focus {
  border: 1px solid #9c886f;
}

.display-1, .display-2, .display-3, .display-4, .display-5, .display-6, .display-7 {
  text-transform: uppercase;
}